{include file="public/header" title="数据标记众包系统" /}
{include file="public/nav" /}
    <div class="container">
      <hr class="mb-4">
      <section class="jumbotron index-bg">
        <div class="container">
          <h1 class="jumbotron-heading">数据标记众包系统</h1>
          <p class="lead text-muted">数据分类（data categorization）<br/>元数据标记（metadata tagging）<br/>数据输入（data entry）<br/>情感分析（sentiment analysis）<br/></p>

        </div>
      </section>
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="__static__/img/r-1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>标记训练数据</h2>
            <p>将训练数据条目分别记录，方便单人或多人利用碎片化时间进行训练数据集的标注，以方便机器学习或数据挖掘的使用。</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="__static__/img/r-2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>元数据录入</h2>
            <p>导入相关文件，将对应记录的元数据通过人工协作方式记录下来；支持超链接、图片链接与其他各种形式。</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="__static__/img/r-3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>自然语言处理</h2>
            <p>使用人工协作方式、机器学习和数据挖掘等方法完成自然语言处理中的命名实体识别、特征观点识别、情感分析等相关应用。</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">一键导入导出 <span class="text-muted">自动处理数据信息</span></h2>
            <p class="lead">支持CSV/XLS等多种主流格式的文件自动导入到系统中；在结果完成后自动分析标记情况并输出为结构化信息。</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="__static__/img/r-4.jpg" alt="500x500" style="width: 500px; height: 250px;" src="" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">最优分配任务<span class="text-muted">最大化多人协作效率</span></h2>
            <p class="lead">服务器自动分配选择编著条目，方便最大效率将任务迅速完成。在多人参与的情况下每人只需要完成部分任务即可获得多条结果信息。</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="__static__/img/r-5.jpg" alt="500x500" src="" data-holder-rendered="true" style="width: 500px; height: 250px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">高效管理任务<span class="text-muted">提高学术应用效率</span></h2>
            <p class="lead">可管理数据及结果，查看用户对标注任务的贡献比例及修改完善已完成的标注任务。</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="__static__/img/r-6.jpg" alt="500x500" src="" data-holder-rendered="true" style="width: 500px; height: 250px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018- TDTS @Tong&lt;admin@ruchope.org&gt;</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">关于我们</a></li>
          <li class="list-inline-item"><a href="#">联系我们</a></li>
          <li class="list-inline-item"><a href="#">帮助中心</a></li>
        </ul>
      </footer>
    </div>
{include file="public/footer" /}
